* {
  padding: 0;
  margin: 0;
}

.headding {
  text-align: center;
  padding: 20px 0px;
  background-color: #ef8282;
  color: #ffffff;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 100px;
}

.choice {
  width: 180px;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  border-radius: 50%;
  background-color: #feb8b8;
}

.choice img {
  border-radius: 50%;
}

.choice:hover {
  cursor: pointer;
  background-color: #ef8282;
}

.score {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  margin-top: 50px;
}

.scoreDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.displayScore {
  font-size: 50px;
  color: #ef8282;
}

.winnerDiv {
    text-align: center;
    margin-top: 80px;
}

.displayWinner {
  font-size: 25px;
  padding: 20px;
  background-color: #ef8282;
  color: #ffffff;
  border-radius: 10px;
  display: inline;
}
